/***GENERAL STYLES***/

body{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}


/***NAVBAR***/
.nav>li>a {
    position: relative;
    display: block;
    padding: 15px 15px;
    padding-top: 20px;
}

/*.navbar-brand>img {
  display:inline-block;
  max-height: 100px;
  max-width: 30%;
  overflow: visible;
  padding-top: 0;
  padding-bottom: 0;
}*/

.navbar-brand>img {
    display: inline-block;
    max-height: 100px;
    max-width: 100%;
    width: 160px;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-collapse {
    padding-right: 15px;
    padding-left: -5px;
}
.nav .navbar-nav .left {
    float: left;
    padding-right: 30%;
}

.navbar-default{
  border:none;
  background-color: white;
  border-radius: none;
}


.main-nav {
 display: flex;
 display: -webkit-flex;
}

.btn-default{
    color: #006aff;
    border-color: #006aff;
    margin-top: 14px;
}

/***TYPO***/
.jumbotron .h1-heading {
  /*width:48%;*/
  color:white;
}

.jumbotron .h1-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
}
.p-main {
  margin-top: 30px;
  color: #6f7b97;
  font-weight: bold;
  text-transform: uppercase;
}
.p-description {
  /*width:45%;*/
  color:white;
}

.text-getstart {
  color:#006aff;
}

.small, small {
    font-size: 60%;
    font-weight: bold;
}
/***JUMBOTRON***/
.hero-background {
  min-width: 100%;
  min-height: 100%;
  background-image: url(../img/bg-banner-home.jpg);
  background-size: cover;
}

.jumbotron {
  margin-bottom: 0;
}

/***FORM***/

.form-area{
    background-color: white;
    border-radius: 5px;
    padding: 15px;
}

.button-create {
  width: 100%;
  margin-top: 15px;
  position: relative;
  background: #579aff;
  color: white;
}

.button-sign-up {
  width: 100%;
  margin-top: 25px;
  position: relative;
  background: white;
  border: 1px solid #ededed;
  color: #626262;
}

.google-pad {
float: left;

}

/***MAIN***/

.row-logo {
width: calc((100%/6)-20px);

}
.arrow-link{
  margin-bottom: 30px;
}

.splunk-logo {
  padding-top: 3%;
  vertical-align: middle;
}
.loghi {
  display:inline-block;
  list-style: none;
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
}

.sfondo-main {
  background: #f3f5f9;
}

/***MAIN***/
