/***GENERAL STYLES***/

body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}


/***NAVBAR***/
.nav>li>a {
    position: relative;
    display: block;
    padding: 15px 15px;
    padding-top: 20px;
}

.navbar-brand>img {
    display: inline-block;
    max-height: 100px;
    max-width: 100%;
    width: 160px;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-collapse {
    padding-right: 15px;
    padding-left: -5px;
}
.nav .navbar-nav .left {
    float: left;
    padding-right: 30%;
}

.navbar-default{
  border:none;
  background-color: white;
  border-radius: none;
}


.main-nav {
 display: flex;
 display: -webkit-flex;
}

.btn-default{
    color: #006aff;
    border-color: #006aff;
    margin-top: 14px;
}

/***TYPO***/
.jumbotron .h1-heading {
  /*width:48%;*/
  color:white;
}

.jumbotron .h1-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
}
.p-main {
  margin-top: 30px;
  color: #6f7b97;
  font-weight: bold;
  text-transform: uppercase;
}
.p-description {
  /*width:45%;*/
  color:white;
}

.h2-deploy {
  color: #031c4e;
  font-weight: bold;
}
.text-getstart {
  color:#006aff;
}

.small, small {
    font-size: 60%;
    font-weight: bold;
}
/***JUMBOTRON***/
.hero-background {
  min-width: 100%;
  min-height: 100%;
  background-image: url(../img/bg-banner-home.jpg);
  background-size: cover;
}

.jumbotron {
  margin-bottom: 0;
}

/***FORM***/

.form-area{
    background-color: white;
    border-radius: 5px;
    padding: 15px;
}

.btn-def:hover{
  background-color: #014fff;
  cursor: pointer;
  color:white;

}
.button-create {
  width: 100%;
  margin-top: 15px;
  position: relative;
  background: #579aff;
  color: white;
}

.button-create:hover{
  background-color: #014fff;
  cursor: pointer;
  color:white;
}

.button-sign-up {
  width: 100%;
  margin-top: 25px;
  position: relative;
  background: white;
  border: 1px solid #ededed;
  color: #626262;
}

.button-sign-up:hover{
  color: #014fff;
}

.google-pad {
float: left;

}

.a-small:hover{
  color: #014fff;
}


/***MAIN***/

.row-logo {
width: calc((100%/6)-20px);

}
.arrow-link{
  margin-bottom: 30px;
}

.splunk-logo {
  padding-top: 3%;
  vertical-align: middle;
}
.loghi {
  display:inline-block;
  list-style: none;
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
}

.sfondo-main {
  background: #f3f5f9;
}

/***MAIN DEPLOY***/
.h2-dep-pad {
  padding-top: 30px;
}
.p-deploy {
  color: #5c6a88;
  margin-bottom: 60px;
}

.elenco-deploy li p {
    margin-bottom: 0;
}

.elenco-deploy li{
  list-style: none;
  border: none;
}

.singolo-item p {
  font-size: 16px;
}

.singolo-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
}

.lista-conf-process li.singolo-item {
  border-radius: 0;
  border: none;
  border-left: 1px solid #cccccc;

}

/***  MAIN BOX DEPLOY AND SCALE***/
.h3-deploy {
  font-size: 20px;
  font-weight: bolder;
}

.row-box-deploy{
  padding-bottom: 20px;
}
.row-box-deploy2{
  padding-bottom: 50px;
}

/***DESIGNED FOR DEVELOPERS***/
.des-for-dev {
  background: #f3f5f9;
}
.h2-desfordev-pad {
  padding-top: 50px;
}

.h2-deploy-bold{
  font-size: 30px;
  font-weight: bolder;
}

/*AREA SLIDER*/
.slider {
    position: relative;
}

.slider img {
  padding-top: 40px;
  width: 100%;
  vertical-align: middle;
}

.slider p.text-slider {
  padding: 10px 0;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.nav-bullet i:first-child {
    background: #006aff;
}
.blu i {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 12px;
  color: transparent;
  border: 2px #006aff solid;
  border-radius: 50%;
  background: transparent;
  margin-bottom: 50px;

}

.nav-bullet {
  left: 60%;
}

/*FEATURES YOUR BUSINESS NEEDS*/
.margin-b {
  margin-bottom: 50px;
}

/*SERVICE YOUR CUSTOMERS*/
.service-customers {
  background-image: linear-gradient(#00209b,#0046c3);
}

.h2-service {
  color: white;
}
.h2-pad-bot{
  padding-bottom: 40px;
}

.box-custom-dx {
    margin-top:35px;
}

.under-line {
    font-size: 13px;
    line-height: 25px;
    border-bottom: 1px #ffffff solid;
}

.under-line .col-xs-6 p {
    color: #bbc8ea;
}

.under-line a {
    color: #00d7d2;
}

.p-service {
  color: white;
}

.row-pad {
  padding-left: 50px;
  margin-bottom: 50px;
}

/**Development teams love DigitalOcean**/
.dev-teams {
background: #f3f5f9;
}

.slide {
    padding: 100px 5px;
    background: #fff;
    border-radius: 5px;
}

.dev-teams img {
    width: 50%;
    margin-bottom: 20px;
}

.p-devteams-pad {
  padding-bottom: 30px;
}
.a-devteams-pad {
  padding-bottom: 15%;
}

.arrow-sx {
  display: block;
  position: absolute;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
  color: #6f7b97;
  font-size: 50px;
}

.arrow-dx {
  display: block;
  position: absolute;
  right: -40px;
  top: 50%;
  transform: translateY(-50%);
  color: #031c4e;
  font-size: 50px;
}
